.btn-subscribe {
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 8em;
    height: 3em;
    background-color: white;
    color: #000;
}

.view_more {
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 9em;
    height: 3em;
    bottom: 7%;
    left: 70%;
}
.view_more p {
    margin: 0;
    padding: 10px;
    color: #ffff;
    text-align: center;
    transition: background-color 0.2s ease;
}

.truncate-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.line-must-read{
    border-top: 1px solid #0000004D;
    border-bottom: 1px solid #0000004D;
}

.common-bg {
    background-color: #F5F4F4;
}

/* login page */
.auth-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 212, 228);
    background: radial-gradient(circle, rgb(227, 194, 95) 0%, rgba(200, 201, 201, 0.538) 100%);
}
           